<ion-header>
  <ion-navbar>
    <ion-title>
      Contact
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="addList()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="searchContact($event)"></ion-searchbar>

  <ion-list *ngIf="!isFiltered">
    <ion-item-sliding #slidingItem *ngFor="let contact of contactList">
      <ion-item>
        {{contact.author}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only (click)="removeList(slidingItem,contact)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>  
    </ion-item-sliding>
  </ion-list>

  <ion-list *ngIf="isFiltered">
    <ion-item-sliding #slidingItem *ngFor="let contact of filterContact">
      <ion-item>
        {{contact.author}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button icon-only (click)="removeList(slidingItem,contact)" color="danger">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-item-options>  
    </ion-item-sliding>
  </ion-list>
</ion-content>
