<ion-header>
  <ion-navbar>
    <ion-title>Park</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding Class="card-background-page">
  <ion-searchbar (ionInput)="searchPark($event)"></ion-searchbar>
  
  <span *ngIf="!isFiltered">
  <ion-card  *ngFor="let park of parksList" (click)="itemTapped(park)"><!--  -->
    <img src="{{getImgThumbsUrl}}{{park.image}}">
    <div class="card-title">{{park.park}}</div>
    <div class="card-subtitle">{{park.state}}</div>
  </ion-card>
  </span>

  <span *ngIf="isFiltered">
  <ion-card  *ngFor="let park of filterParks" (click)="itemTapped(park)"><!--  -->
    <img src="{{getImgThumbsUrl}}{{park.image}}">
    <div class="card-title">{{park.park}}</div>
    <div class="card-subtitle">{{park.state}}</div>
  </ion-card>
  </span>
</ion-content>
